*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 375px;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}

.input-screen{
    height: 100vh;
    text-align: center;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.input-screen img{
    margin-top: 72px;
}
.input-screen input{
    margin-top: 94px;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

    text-align: center;
    color: #AEAEAE;

    height: 54px;
    width: 261px;

    outline: 0;
}
.input-screen input::placeholder{
    font-size: 18px;
    line-height: 25px;
    color: #AEAEAE;
}
.input-screen button{
    margin-top: 15px;

    width: 109px;
    height: 45px;   
    
    color: #696969;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;

    background: #E7E7E7;
    border-radius: 9px;
    border: 0;
}
.c-loader {
    margin: 80px 0 15px;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #000;
    height: 50px;
    width: 50px;
}
@keyframes is-rotating {
to {
    transform: rotate(1turn);
}
}

.main-screen{
    height: 100vh;

    position: relative;
    display: flex;
}
header{
    justify-content: space-between;

    position: fixed;
    top: 0;

    height: 80px;
    width: 375px;

    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
header img{
    cursor: pointer;
}
.content{
    background-color: #F3F3F3;
    padding: 106px 0 80px;
}
main {
  
    width: 375px;
    overflow-y: scroll;
  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  }
  main::-webkit-scrollbar {
    display: none;
  }
  main {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .item {
    border-radius: 2px;
  
    margin-bottom: 4px;
    padding: 12px 8px;
  
    font-size: 14px;
    line-height: 20px;
  }
  .status {
    background-color: #dcdcdc;
  }
  .private_message {
    background-color: #ffdede;
  }
  .message {
    background-color: #ffffff;
  }
  .item span {
    margin-right: 5px;
  
    color: #aaa;
  }
.item p{
    overflow-wrap: break-word;
}
.item .bold{
    font-weight: bold;
}
.input-message{
    position: fixed;
    bottom: 0;

    width: 375px;
    height: 80px;

    padding: 0 17px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
.input-message input{
    border: 0;
    outline: 0;

    height: 60px;
    width: 250px;
}
.input-message input::placeholder{
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-style: italic;
}
.input-message img{
    cursor: pointer;
}
.transparent-dark{
    cursor: pointer;

    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(50% - 187.5px);
    z-index: 1;
    
    width: 115px;

    background: rgba(0, 0, 0, 0.6);
}
.menu{
    position: fixed;
    left: calc(50% - 72.5px);

    background: #fff;

    width: 260px;
    height: 100vh;
}
.menu .title-contacts,
.menu .title-visibility{
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    
    height: 84px;
}
.menu .title-visibility{
    height: 66px;
}
.options li{
    height: 36px;
    align-content: center;

    margin: 0 15px 0 5px;

    cursor: pointer;
}
.options li img{
    padding: 0 10px 0 20px;
}
.show-menu{
    transform: translateX(-260px);
}

input:focus::-webkit-input-placeholder{
    color: transparent;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.flex-start{
    justify-content: flex-start;
}
.none{
    display: none;
}